/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
:root {
    /*primary colors*/
    --veryDarkBLue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);

    /* neutral colors */

    --white: hsl(0, 0%, 100%);
    --slightlyTransWhite: hsla(0, 0%, 100%, 0.75);
    --slightlyWhite: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    background-color: var(--veryDarkBLue);
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

 
.info-card p {
    color: var(--slightlyTransWhite);
    font-family: 'Lexend Deca', sans-serif;
}

.box p {
    font-family: 'Inter', sans-serif;
}